
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');



table {
   width: 100%;
   border-collapse: collapse;
}

.header_fixed {
   max-height: 100vh;
   width: 100%;
   overflow: auto;
   border: 1px solid #dddddd;
}

.header_fixed thead th {
   position: sticky;
   top: 0;
   background-color: black;
   color: #e6e7e8;
   font-size: 15px;
}

th,
td {
   border-bottom: 1px solid #dddddd;
   padding: 10px 20px;
   font-size: 14px;
}

td img {
   height: 60px;
   width: 60px;
   border-radius: 100%;
   border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
   background-color: #dddddd;
}

tr:nth-child(odd) {
   background-color: #edeef1;
}

tr:hover td {
   color: #44b478;
   cursor: pointer;
   background-color: #ffffff;
}

td button {
   border: none;
   padding: 7px 20px;
   border-radius: 20px;
   background-color: black;
   color: #e6e7e8;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
