
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.card:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.card-header {
    position: relative;
}

.card-header img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-header .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header .icon img {
    width: 24px;
    height: 24px;
}

.card-header .heart {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
}

/* .card-header .heart img {
    width: 24px;
    height: 24px;
} */

.card-header .heart.active {
    background-color: #ff0000;
}

.card-header .heart.active img {
    filter: invert(1);
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-body h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card-body p {
    margin: 5px 0;
    color: #777;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-top: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.card-footer-item {
    text-align: center;
    flex: 1;
}

.card-footer-item p {
    margin: 5px 0;
    color: #777;
}
